* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: #222;
    background: #fff;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: linear-gradient(to right, silver, white);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo i {
    font-size: 30px;
    color: rgb(199, 139, 28);
}

.logo h1 {
    font-size: 30px;
    background: linear-gradient(to right, blue, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: darkblue;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
    color: orange;
}

/*  */
.section-1 img {
    width: 100%;
    height: 550px;
    position: absolute;

}

.section-1 h1 {
    position: absolute;
    font-size: 100px;
    color: white;
    margin-left: 110px;
    margin-top: 30px;
}

.section-1 h2 {
    position: absolute;
    font-size: 90px;
    background: linear-gradient(to right, rgb(158, 11, 11), orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-left: 450px;
    margin-top: 150px;
}

.section-1 .para {
    position: absolute;
    color: white;
    font-size: 25px;
    margin-top: 270px;
    margin-left: 280px;

}

.section-1 .box {
    width: 700px;
    height: 100px;
    background-color: silver;

    position: absolute;
    border-radius: 10px;
    display: flex;
    color: black;
    margin-left: 350px;
    margin-top: 370px;
    gap: 35px;


}

.section-1 .box .box-1 p,
.box-2 p,
.box-3 p,
.box-4 p {
    font-size: 20px;
    margin-left: 16px;

}


.section-1 .box h3 {
    margin-left: 30px;
    font-size: 25px;
    margin-top: 20px;
}

.section-1 .box-1 h3 {
    margin-left: 65px;
}

.section-1 .box-2 h3 {
    margin-left: 57px;
}

.section-1 .box-3 h3 {
    margin-left: 46px;
}

.section-1 .box-4 h3 {
    margin-left: 80px;
}

.bg-sec-2 {
    background-color: rgb(226, 219, 219);


}

.section-2 {

    align-content: center;

    color: black;
    text-align: center;

    justify-content: center;
}

.section-2 button {
    width: 110px;
    height: 25px;
    border: 1px solid gray;
    margin-top: 50px;
    position: absolute;
    background-color: rgb(213, 208, 208);
    color: black;
    border-radius: 10px;
    margin-left: -30px;

    margin-top: 650px;
    font-size: 14px;
}

.section-2 h2 {
    background: linear-gradient(to right, black 70%, orange);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-top: 700px;
    margin-left: 550px;
    position: absolute;
    font-size: 45px;

}

.section-2 p {
    color: black;
    font-size: 23px;
    margin-left: 50px;
    margin-top: 780px;
    text-align: center;
}

.all-card {
    display: flex;
    gap: 20px;
    margin-top: 130px;
    width: 100%;
    height: 570px;

}

.all-card .card-1 {
    border: 1px solid gray;
    width: 420px;
    height: 400px;
    border-radius: 10px;
    background-color: rgb(239, 238, 238);
}


.all-card .card-1:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.all-card .card-1 {
    margin-left: 20px;
}

.all-card .fa-solid {
    font-size: 50px;
    margin-top: 50px;
    margin-left: 170px;
}

.all-card h3 {
    font-size: 30px;
    margin-top: 20px;
}

.all-card .card-1 h3 {
    text-align: center;
}

.all-card p {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.aside {
    display: flex;
    gap: 20px;
}


.section-3 .btn {
    width: 100px;
    height: 22px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgb(212, 181, 114);
    font-size: 14px;
    margin-top: 100px;
    margin-left: 50px;


}

.section-3 h1 {
    margin-left: 50px;
    margin-top: 10px;
    font-size: 45px;

}

.section-3 p {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 30px;
}

.circle-1 {
    display: flex;
    margin-left: 50px;
    line-height: 1.8;
    font-size: 23px;
    gap: 5px;




}

.circle-1 .fa-regular {
    font-size: 18px;
    margin-top: 6px;
}

.section-3 .view a button {
    width: 200px;
    height: 45px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 20px;
    background: linear-gradient(to left, black 10px, orange 120px, black 30px);
    color: white;
    cursor: pointer;

}

.section-4 button {
    width: 150px;
    height: 23px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 70px;
    margin-left: 630px;
    background-color: rgb(213, 208, 208);

}

.section-4 h2 {
    margin-top: 40px;
    margin-left: 530px;
    font-size: 45px;
    background: linear-gradient(to right, black 50%, rgb(23, 8, 152));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}

.section-4 p {
    font-size: 23px;
    text-align: center;
    margin-top: 20px;
    line-height: 1.3;
}

/*  */

.rating {
    display: flex;
    gap: 5px;


}

.rating .rat-1 {
    width: 380px;
    height: 320px;
    border: 1px solid gray;
    background-color: rgb(247, 238, 238);
    margin-top: 100px;
    border-radius: 10px;
}


.rat-1:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: white;

}

.rating .rat-1 {
    margin-left: 100px;
}



.rating .rat-1 h4 {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

.rating .rat-1 p {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
    line-height: 1.3;
}

.rating .rat-1 .user-1 {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.rating .rat-1 .fa-solid {
    margin-top: 15px;
    font-size: 40px;
    margin-left: 30px;
}

.rating .rat-1 h3 {
    font-size: 23px;
    margin-top: 10px;

}

.rating .rat-1 h6 {
    font-size: 20px;
    margin-top: 40px;
    margin-left: -163px;
    font-size: 15px;

}

.rating .rat-1 h6 {
    text-align: center;
}

.collection {
    margin-top: 100px;
    text-align: center;
    background: linear-gradient(to left, black, maroon, black);
    height: 350px;
}

.collection h1 {
    font-size: 45px;
    padding-top: 100px;
    color: white;
}

.collection p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.3;
    color: white;
}

.search {
    display: flex;
    gap: 30px;

}

.search a button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 50px;


}

.search a .btn2 {
    background-color: blue;
    color: white;
    cursor: pointer;


}

.search a .btn1 {
    margin-left: 450px;
    cursor: pointer;
}

/*  */
footer {
    display: flex;
    gap: 30px;
}

footer .sec-1 .logo-1 {
    font-size: 28px;
    margin-top: 60px;

    background: linear-gradient(to right, blue, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: flex;
    margin-left: 30px;
    gap: 4px;


}

footer .sec-1 h1 {
    font-size: 30px;



}

footer .sec-1 p {
    font-size: 18px;
    margin-left: 40px;
    line-height: 1.3;
    margin-top: 10px;
}

footer .sec-2 h1 {
    margin-top: 60px;
    margin-left: 70px;
}

footer .sec-2 a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 10px;
}

footer .sec-2 h1 {
    margin-bottom: 20px;
}

footer .sec-3 {
    margin-top: 50px;
    margin-left: 100px;
}

footer .sec-3 h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

footer .sec-3 p {
    font-size: 18px;
    line-height: 1.7;
}

footer .sec-4 h1 {
    margin-top: 60px;
    margin-left: 130px;

}

footer .sec-4 .icon {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 140px;
}

.footer-part {

    font-size: 23px;
    margin-top: 50px;
    display: flex;
    background-color: silver;
    width: 100%;
    height: 60px;
}

.footer-part p {
    margin-top: 20px;
    margin-left: 30px;

}

.footer-part .condition {
    display: flex;
    gap: 10px;
    margin-left: 500px;
    font-size: 35px;
}

.footer-part .condition h6 {
    margin-top: 20px;

}

